name: golangci-lint
on:
  pull_request:
  push:
    branches: [ "main" ]
permissions:
    contents: read
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.2'

      - name: Install golangci-lint
        run: |
          go install github.com/golangci/golangci-lint/cmd/golangci-lint@latest
          export PATH=$PATH:$(go env GOPATH)/bin

      - name: Run golangci-lint
        run: |
          golangci-lint run ./...
