name: Go CI

on:
  pull_request:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Install dependencies
        run: go mod download

      - name: Run tests
        run: go test ./... -race

      - name: Build
        run: go build ./cmd/server

      - name: Docker build
        run: docker build -t go-ci-playground:${{ github.sha }} .
