  name: CI

  on:
    pull_request:
    push:
      branches: [ "main" ]
    workflow_dispatch:

  jobs:
    lint:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@v4
        - name: Set up Go
          uses: actions/setup-go@v5
          with:
            go-version: '1.24'
        - name: Run golangci-lint
          uses: golangci/golangci-lint-action@v6
          with:
            version: latest

    test:
      runs-on: ubuntu-latest
      needs: lint
      steps:
        - name: Checkout
          uses: actions/checkout@v4
        - name: Set up Go
          uses: actions/setup-go@v5
          with:
            go-version: '1.24'
        - name: Run tests
          run: go test ./... -race -cover

    e2e-test:
      runs-on: ubuntu-latest
      needs: test
      steps:
        - uses: actions/checkout@v4
        - uses: actions/setup-go@v5
          with:
            go-version: '1.25.2'

        - name: Run e2e tests
          run: go test ./e2e/...

    build:
      runs-on: ubuntu-latest
      needs: e2e-test
      steps:
        - uses: actions/checkout@v4
        - run: go build ./cmd/server
